:host ::ng-deep {
    .p-menu {
        background: #18213e;
        border: none;

        .p-menuitem-text {
            font-size: 14px;
            color: #fff;
        }

        .p-menuitem-icon {
            color: #fff;
        }
    }
}

img {
    width: 95px;
}

p {
    color: #fff;
    font-weight: bold;
    width: 80px;
    text-align: center;
    font-size: 14.5px;
}

hr {
    color: #fff;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contenedor {
    display: flex;
    align-items: center;
    margin: 5px;
    height: 70px;
}