<app-title></app-title>
<div class="p-2" *ngIf="loading">
  <p-skeleton width="100%" height="calc(100vh - 110px)"></p-skeleton>
</div>

<div class="picklist" *ngIf="!loading">
  <p-pickList
    [source]="artworks"
    [target]="targetArtworks"
    sourceHeader="Obras de Arte"
    targetHeader="Obras Destacadas"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '25rem' }"
    [targetStyle]="{ height: '25rem' }"
    filterBy="name,author.fullName"
    sourceFilterPlaceholder="Buscar por nombre"
    targetFilterPlaceholder="Buscar por nombre"
  >
    <ng-template let-artwork pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3" *ngIf="!loading">
        <img
          [src]="artwork.imageURL"
          [alt]="artwork.name"
          width="120"
          height="120"
        />
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-medium text-green-700 text-sm">{{
            artwork.author?.fullName ?? "Anónimo"
          }}</span>
          <span class="font-medium text-green-700 text-sm">{{
            artwork.country
          }}</span>
          <div class="flex align-items-center gap-2">
            <i class="pi pi-calendar text-sm"></i>
            <span class="text-blue-800">{{ artwork.centuryYear }}</span>
          </div>
        </div>
        <span class="flex-1 font-bold text-900 text-right">{{
          artwork.name
        }}</span>
      </div>
    </ng-template>
  </p-pickList>
  <div class="flex justify-content-center my-4">
    <p-button
      label="Guardar"
      styleClass="p-button-raised p-button-success"
      icon="pi pi-check"
      (onClick)="saveFeatures()"
    ></p-button>
  </div>
</div>
