<app-title></app-title>

<div class="p-2 w-11 m-auto mt-4">
    <div class="mb-3 flex gap-3 ml-2">
      <p-button
        label="Nueva Obra"
        styleClass="p-button-success"
        icon="pi pi-plus"
        (click)="showDialog()"
      ></p-button>

      <div class="mb-3 flex gap-3 ml-2">
        <p-button
          label="Autores"
          styleClass="p-button-info"
          icon="pi pi-user-plus"
          (click)="navigateToAuthor()"
        ></p-button>
    </div>
    <div class="card">
      <p-table
      [value]="artworks"
      [(selection)]="selectedItems"
        dataKey="id"
        [paginator]="true"
        [rows]="5"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Siglo</th>
            <th>Pais</th>
            <th>Acciones</th>
            
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
            <td>
              {{ item.id }}
            </td>
            <td>{{ item.author.nombre }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.country }}</td>
            <td>
              <p-button
                styleClass="p-button-rounded p-button-info"
                icon="pi pi-pencil"
              ></p-button>
              <p-button
                styleClass="p-button-rounded p-button-success"
                icon="pi pi-eye"
              ></p-button>
              <p-button class="deleteButton"
              styleClass="p-button-rounded p-button-danger"
              icon="pi pi-delete-left"
              (click)="deleteArt(item.id)"
            ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>