.buttonEdit{
    text-align: center;
    width: 900px;
}
.card-content {
    font-size: 12px;
    padding: 5px;
    display: inline-block;
    flex-direction: column;
    
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .inputf{
    width: 100%;
  }
  .card-label {
    font-size: 10px;
  }
  
  .card-input {
    font-size: 12px;
    padding: 2px;
  }

  .buttonCreate{
    text-align: center;
  }

  .card-picture {
    width: 400px; /* Ajusta el ancho según sea necesario */
    margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
  }
  
  .card-dimensions {
    width: 500px; /* Ajusta el ancho según sea necesario */
  }
