<p-dialog
  header="Registro de actividades"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onClose()"
>
  <form>
    <div class="flex flex-column gap-2">
      <label>Fecha y Hora</label>
      <p-calendar [showTime]="true" appendTo="body"></p-calendar>
    </div>
    <div class="flex flex-column gap-2">
      <label>Actividad</label>
      <input pInputText placeholder="Ingrese la actividad" />
    </div>
    <div class="flex flex-column gap-2">
      <label>Descripcion</label>
      <textarea
        pInputTextarea
        [autoResize]="true"
        placeholder="Ingrese la descripcion de la actividad"
        [maxLength]="255"
      ></textarea>
    </div>

    <div class="flex justify-content-end mt-2">
      <span class="p-buttonset">
        <p-button
          pRipple
          label="Aceptar"
          icon="pi pi-check"
          styleClass="p-button-raised p-button-text p-button-info"
        ></p-button>
        <p-button
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          styleClass="p-button-raised p-button-text p-button-danger"
        ></p-button>
      </span>
    </div>
  </form>
</p-dialog>
