<app-title></app-title>

<div class="p-2 w-11 m-auto mt-4">
  <div class="mb-3 flex gap-3 ml-2">
    <p-button
      label="Nuevo"
      styleClass="p-button-success"
      icon="pi pi-plus"
      (onClick)="onOpenForm()"
    ></p-button>
  </div>
  <div class="card">
    <p-table
      [value]="authors"
      dataKey="id"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ height: '100px' }"
      [styleClass]="'p-datatable-sm'"
      [globalFilterFields]="['fullName']"
      #dt1
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              #srch
              pInputText
              type="text"
              (input)="dt1.filterGlobal(srch.value, 'contains')"
              placeholder="Nombre"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre Completo</th>
          <th>Dirección</th>
          <th>Biografía</th>
          <th>Editar/Eliminar</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.fullName }}</td>
          <td>{{ item.address }}</td>
          <td>
            {{ item.bibliography | slice : 0 : 200
            }}<span *ngIf="item.bibliography.length > 200">...</span>
          </td>
          <td>
            <div class="flex gap-1">
              <p-button
                styleClass="p-button-rounded p-button-info"
                icon="pi pi-pencil"
                (onClick)="onOpenForm(item)"
              ></p-button>
              <p-button
                styleClass="p-button-rounded p-button-danger"
                icon="pi pi-times"
                (onClick)="deleteSelected(item.id)"
              ></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-author-form *ngIf="visible"></app-author-form>
