<app-title></app-title>

<div class="p-2 w-11 m-auto mt-4">
  <div class="mb-3 flex gap-3 ml-2">
    <p-button
      label="Nuevo"
      styleClass="p-button-success"
      icon="pi pi-plus"
      
    ></p-button>

    <p-button label="Eliminar" styleClass="p-button-danger"></p-button>
  </div>
  <div class="card">
    <p-table
      [value]="author"
      [(selection)]="selectedItems"
      dataKey="id"
      [paginator]="true"
      [rows]="5"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem;  text-align: center;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="text-align: center;">Nombre Completo</th>
          <th style="text-align: center;">Direccióm</th>
          <th style="text-align: center;">Bibliografia</th>
          <th style="text-align: center;">Editar</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td style="text-align: center;">
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td> {{ item.fullName }} </td>
          <td style="text-align: center;">{{ item.address }}</td>
          <td style="text-align: center;">
            <p-button label="Ver Bibliografía" 
                      styleClass="p-button-rounded p-button-help"
                      (click)="showBibliography(item)" >       
            </p-button>
          </td>
          <td style="text-align: center;">
            <p-button
              styleClass="p-button-rounded p-button-info"
              icon="pi pi-pencil"
            
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Bibliografía" [(visible)]="displayBibliography" [modal]="true" [style]="{ 'width.px': 500 }">
    <div style="max-height: 300px; width: 400px; text-align: justify;">
      {{ selectedAuthor?.bibliography }}
    </div>
  </p-dialog>
