<app-title></app-title>
<div class="flex gap-2 p-2">
  <div [style]="{ width: '60%' }">
    <p-dataView
      #dv
      [value]="artworks"
      layout="grid"
      [paginator]="true"
      [rows]="4"
      filterBy="author.fullName,name"
    >
      <ng-template pTemplate="header">
        <p class="text-900 font-bold text-center text-xl m-0">Obras de Arte</p>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            #srch
            type="text"
            pInputText
            (input)="dv.filter(srch.value, 'contains')"
            placeholder="Buscar por titulo o autor"
          />
        </span>
      </ng-template>
      <ng-template let-artwork pTemplate="gridItem">
        <div class="col-12 sm:col-6 lg:col-12 xl:col-6 p-1">
          <div class="p-2 border-1 surface-border surface-card border-round">
            <div class="flex gap-4">
              <img
                class="shadow-2 flex-shrink-0 border-round"
                width="120"
                height="120"
                [src]="artwork.imageURL"
                [alt]="artwork.name"
              />
              <div class="grid">
                <div class="col-6 font-bold">{{ artwork.name }}</div>
                <div class="col-6 text-right text-blue-800">
                  {{ artwork.centuryYear }}
                </div>
                <div class="col-12 text-green-700 text-sm">
                  {{ artwork.author.fullName ?? "Anónimo" }}
                </div>
                <div class="col-12 text-green-700 text-sm">
                  {{ artwork.country }}
                </div>

                <div class="col-12 justify-content-center">
                  <p-button
                    label="Generar QR"
                    styleClass="p-button-help"
                    (onClick)="generateQRCode(artwork)"
                    [style]="{ width: '100%' }"
                  ></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>

  <div [style]="{ width: '40%' }">
    <p-card>
      <div
        class="flex flex-column justify-content-center align-items-center gap-1"
      >
        <div #qrContent id="qrContent" class="flex flex-column">
          <div class="flex gap-1 align-items-center" *ngIf="selectedArtwork">
            <div class="text-sm font-bold">
              <p class="m-1">Nombre: {{ selectedArtwork.name }}</p>
              <p class="m-1">Autor: {{ selectedArtwork.author?.fullName }}</p>
              <p class="m-1">Tecnica: {{ selectedArtwork.technique }}</p>
              <p class="m-1">Soporte: {{ selectedArtwork.support }}</p>
            </div>
            <div>
              <img src="./assets/images/logo.svg" alt="" width="120" />
            </div>
          </div>

          <qrcode
            #qr
            class="border-1"
            [qrdata]="qrCode"
            [errorCorrectionLevel]="'M'"
            [width]="300"
            [allowEmptyString]="true"
          ></qrcode>
        </div>

        <p-button
          label="Imprimir"
          styleClass="p-button-raised p-button-danger"
          (onClick)="printFromQR(qr)"
          [disabled]="qrCode === ''"
          icon="pi pi-print"
        ></p-button>
        <p-button
          label="Descargar"
          styleClass="p-button-raised p-button-info"
          (onClick)="dowloadToImage(qr)"
          [disabled]="qrCode === ''"
          icon="pi pi-image
          "
        ></p-button>
      </div>
    </p-card>
  </div>
</div>
