<app-title></app-title>
<div class="flex gap-2 p-2" [style]="{ height: 'calc(100% - 75.2px)' }">
  <div [style]="{ width: '60%' }">
    <p-dataView
      #dv
      [value]="artworks"
      layout="grid"
      [paginator]="true"
      [rows]="6"
      filterBy="author,name"
    >
      <ng-template pTemplate="header">
        <p class="text-900 font-bold text-center text-xl m-0">Obras de Arte</p>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            #srch
            type="text"
            pInputText
            (input)="dv.filter(srch.value, 'contains')"
            placeholder="Buscar por titulo o autor"
          />
        </span>
      </ng-template>
      <ng-template let-artwork pTemplate="gridItem">
        <div class="col-12 sm:col-6 lg:col-12 xl:col-6 p-1">
          <div class="p-2 border-1 surface-border surface-card border-round">
            <div class="flex gap-4">
              <img
                class="w-5rem shadow-2 flex-shrink-0 border-round"
                src="https://u7.uidownload.com/vector/499/487/vector-sunset-waterscene-svg.jpg"
                alt="{artwork.name}"
              />
              <div class="grid">
                <div class="col-6">{{ artwork.author }}</div>
                <div class="col-6">{{ artwork.name }}</div>
                <div class="col-6">{{ artwork.country }}</div>
                <div class="col-6">{{ artwork.date }}</div>
                <div class="col-12 justify-content-center">
                  <p-button
                    label="Generar QR"
                    styleClass="p-button-help"
                    (onClick)="generateQRCode(artwork)"
                    [style]="{ width: '100%' }"
                  ></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>

  <div [style]="{ width: '40%' }">
    <p-card>
      <div
        class="flex flex-column justify-content-center align-items-center gap-3"
      >
        <qrcode
          #qr
          class="border-1"
          [qrdata]="qrCode"
          [errorCorrectionLevel]="'M'"
          [width]="400"
          [allowEmptyString]="true"
        ></qrcode>

        <p-button
          label="Imprimir"
          styleClass="p-button-raised p-button-danger"
          (onClick)="printFromQR(qr)"
          [disabled]="qrCode === ''"
          icon="pi pi-print"
        ></p-button>
      </div>
    </p-card>
  </div>
</div>
